@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <button class="button" @onclick=@(() => OnClick("sign out"))>Sign out</button>
    </Authorized>
    <NotAuthorized>
        <button class="button" @onclick=@(() => OnClick("sign in"))>Sign In</button>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Inject] public NavigationManager Navigation { get; set; }

    private void OnClick(string id)
    {
        if (id == "sign in")
            Navigation.NavigateTo($"MicrosoftIdentity/Account/SignIn", forceLoad: true);
    else
        if (id == "sign out")
            Navigation.NavigateTo($"MicrosoftIdentity/Account/SignOut", forceLoad: true);
    }
}
