@page "/"

<div class="grid-1x2">
    <div class="v-list">
        <div class="grid-1x2">
            <List_1 
                Title="Your Plans"
                Description="Add, Remove, Choose from Public.."
                DropdownModel=@DropdownModel
                OnMenuOptionSelected=@OnWorkoutPlansListDropdownOptionSelected>

                <Item_1 Title="Push-Pull - Weights" DropdownModel=@DropdownModel />
                <Item_1 Title="Push-Pull - Calisthenics" DropdownModel=@DropdownModel />
                <Item_1 Title="Split" DropdownModel=@DropdownModel />
                <Item_1 Title="Push-Pull-Legs" DropdownModel=@DropdownModel />
                <Item_1 Title="Full Body" DropdownModel=@DropdownModel />

            </List_1>
            <List_1 
                Title="Sessions">
                    
                <Item_1 Title="Push-Pull - Weights - Chest, Shoulders, Triceps, Legs" />
                <Item_1 Title="Split - Calisthenics - Back" />

            </List_1>
        </div>
    </div>
</div>

@code {
    private static string _basePath = "_content/MyApp.UI.Common";

    private Dropdown.ViewModel DropdownModel = new(
        Options: new()
        {
            "Add",
            "Remove",
            "Edit"
        },
        Trigger: new(IsFixed: true, Value: "Menu", Mode: Dropdown.Mode.Component)
    );

    private async Task<bool> OnWorkoutPlansListDropdownOptionSelected(Dropdown.Option option)
    {
        Console.WriteLine(option.ToString());
        return true;
    }
}
