@page "/"

<div class="grid-1x2f">
    <div class="v-list">
        <div class="grid-1x2">
            <List_1 
                Title="Your Plans"
                Description="Add, Remove, Choose from Public.."
                DropdownModel=@DropdownModel
                OnMenuOptionSelected=@OnWorkoutPlansListDropdownOptionSelected>

                <Item_1 Title="Weights - Push-Pull" DropdownModel=@DropdownModel OnItemClick=@OnItemClick/>
                <Item_1 Title="Calisthenics - Push-Pull" DropdownModel=@DropdownModel />
                <Item_1 Title="Split" DropdownModel=@DropdownModel />
                <Item_1 Title="Push-Pull-Legs" DropdownModel=@DropdownModel />
                <Item_1 Title="Full Body" DropdownModel=@DropdownModel />

            </List_1>
            <List_1 
                Title="Sessions">
                    
                <Item_1 Title="Weights - Push-Pull - Chest, Shoulders, Triceps, Legs" />
                <Item_1 Title="Calisthenics - Split - Back" />

            </List_1>
        </div>
    </div>
    <div class="v-list">
        <DropdownWithLabel 
            Title="Ownership" 
            Model=@OwnershipFilterDropdownModel 
            OnOptionSelected=OnOwnershipFilterDropdownModelOptionSelected />
        
    </div>
</div>

@code {
    private static string _basePath = "_content/MyApp.UI.Common";

    private Dropdown.ViewModel DropdownModel = new(
        Options: new()
        {
            "Add",
            "Remove",
            "Edit"
        },
        Trigger: new(IsFixed: true, Value: "Menu", Mode: Dropdown.Mode.Component)
    );

    private Dropdown.ViewModel OwnershipFilterDropdownModel = new(
        Options: new()
        {
            "Own",
            "Public",
            "All"
        },
        Trigger: new(BgOn: true)
    );

    private async Task<bool> OnWorkoutPlansListDropdownOptionSelected(Dropdown.Option option)
    {
        Console.WriteLine(option.ToString());
        return true;
    }

    private async Task<bool> OnOwnershipFilterDropdownModelOptionSelected(Dropdown.Option option)
    {
        Console.WriteLine(option.ToString());
        return true;
    }

    private Task OnItemClick(string id)
    {
        Console.WriteLine("OnItemClick");
        return Task.CompletedTask;
    }
}
