@page "/"

<div class="v-list">

    <div class="grid-1x2">
        <List_1 
            Title="Your Plans"
            Description="Add, Remove, Choose from Public..">

            <Item_1 Title="Push - Pull" />
            <Item_1 Title="Split" />
            <Item_1 Title="Push - Pull - Legs" />
            <Item_1 Title="Full Body" />

        </List_1>
        <List_1
            Title="Your Plans"
            Description="Add, Remove, Choose from Public..">

            <Item_1 Title="Push - Pull" />
            <Item_1 Title="Split" />
            <Item_1 Title="Push - Pull - Legs" />
            <Item_1 Title="Full Body" />

        </List_1>
    </div>

    <List_1 
        Title="Your Plans"
        Description="Add, Remove, Choose from Public..">

        <Item_1 Title="Push - Pull" />
        <Item_1 Title="Split" />
        <Item_1 Title="Push - Pull - Legs" />
        <Item_1 Title="Full Body" />

    </List_1>

    <div class="grid-1x2">
        <List_1 
            Title="Your Plans"
            Description="Add, Remove, Choose from Public..">

            <Item_1 Title="Push - Pull" />
            <Item_1 Title="Split" />
            <Item_1 Title="Push - Pull - Legs" />
            <Item_1 Title="Full Body" />

        </List_1>
        <List_1 
            Title="Your Plans"
            Description="Add, Remove, Choose from Public..">

            <Item_1 Title="Push - Pull" />
            <Item_1 Title="Split" />
            <Item_1 Title="Push - Pull - Legs" />
            <Item_1 Title="Full Body" />

        </List_1>
    </div>

    <div class="grid-1x2">
        <List_1 
            Title="Your Plans"
            Description="Add, Remove, Choose from Public..">

            <Item_1 Title="Push - Pull" />
            <Item_1 Title="Split" />
            <Item_1 Title="Push - Pull - Legs" />
            <Item_1 Title="Full Body" />

        </List_1>
        <List_1 
            Title="Your Plans"
            Description="Add, Remove, Choose from Public..">

            <Item_1 Title="Push - Pull" />
            <Item_1 Title="Split" />
            <Item_1 Title="Push - Pull - Legs" />
            <Item_1 Title="Full Body" />

        </List_1>
    </div>

    <List_1 
        Title="Your Plans"
        Description="Add, Remove, Choose from Public..">

        <Item_1 Title="Push - Pull" />
        <Item_1 Title="Split" />
        <Item_1 Title="Push - Pull - Legs" />
        <Item_1 Title="Full Body" />

    </List_1>

    <List_1 
        Title="Your Plans"
        Description="Add, Remove, Choose from Public..">

        <Item_1 Title="Push - Pull" />
        <Item_1 Title="Split" />
        <Item_1 Title="Push - Pull - Legs" />
        <Item_1 Title="Full Body" />

    </List_1>

</div>


@code {
    private static string _basePath = "_content/MyApp.UI.Common";
}
