@page "/plans"
@using Corelibs.Basic.Collections;
@using MyApp.UI.Common.Data;
@using MyApp.UseCases.Plans;

<FullBg ImageUrl=@($@"{Config.BaseAssetsPath}/images/general/main-bg.png") />

@if (_plans.IsNullOrEmpty()) { return; }

<div class="grid-1x2f">
    <div class="v-list">
        <div class="grid-1x2">
            <List_1 
                Title="Your Plans"
                Description="Add, Remove, Choose from Public.."
                DropdownModel=@DropdownModel
                OnMenuOptionSelected=@OnWorkoutPlansListDropdownOptionSelected>

                @foreach (var plan in _plans)
                {
                    <Item_1 Id=@plan.Id Title=@plan.Name DropdownModel=@DropdownModel OnItemClick=OnItemClick />
                }

            </List_1>
        </div>
    </div>
    <div class="v-list">
        <DropdownWithLabel 
            Title="Ownership" 
            Model=@OwnershipFilterDropdownModel 
            OnOptionSelected=OnOwnershipFilterDropdownModelOptionSelected />
    </div>
</div>

@code {
    [Inject] public IQueryExecutor QueryExecutor { get; set; }

    private PlanVM[] _plans;

    private Dropdown.ViewModel DropdownModel = new(
        Options: new()
        {
            "Add",
            "Remove",
            "Edit"
        },
        Trigger: new(IsFixed: true, Value: "Menu", Mode: Dropdown.Mode.Component)
    );

    private Dropdown.ViewModel OwnershipFilterDropdownModel = new(
        Options: new()
        {
            "Own",
            "Public",
            "All"
        },
        Trigger: new(BgOn: true)
    );

    protected override async Task OnInitializedAsync()
    {
        var response = await QueryExecutor.Execute<GetOwnPlansQuery, GetOwnPlansQueryResponse>();
        _plans = response.Plans;
    }

    private async Task<bool> OnWorkoutPlansListDropdownOptionSelected(Dropdown.Option option)
    {
        Console.WriteLine(option.ToString());
        return true;
    }

    private async Task<bool> OnOwnershipFilterDropdownModelOptionSelected(Dropdown.Option option)
    {
        Console.WriteLine(option.ToString());
        return true;
    }

    private Task OnItemClick(string id)
    {
        Console.WriteLine("OnItemClick");
        return Task.CompletedTask;
    }
}
