@using System.Reflection;
@using Blazored.LocalStorage;
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Components.Authorization
@using System.IdentityModel.Tokens.Jwt
@using System.Security.Claims;
@using Microsoft.AspNetCore.Http;
@using MyApp.UI.Common.Print;

<CascadingAuthenticationState>
    <Router AppAssembly=@typeof(App).Assembly AdditionalAssemblies=@AdditionalAssemblies>
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    [Inject] public AuthenticationStateProvider Auth { get; set; }

    private Assembly[] AdditionalAssemblies { get; } = new[]
    {
        typeof(Corelibs.Blazor.UIComponents.Dropdowns.Dropdown).Assembly
    };

    protected override async Task OnInitializedAsync()
    {
        //return base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        var customAuth = Auth as CustomAuthenticationStateProvider;

        await customAuth.SetAuthenticationStateFromLocalStorage();
        await customAuth.SaveTokensFromHttp();

        await InvokeAsync(StateHasChanged);
    }
}
