@using Microsoft.AspNetCore.Components.Authorization;
@inherits BaseLayout

<main class="main" style=@_paddingLeftCssAttribute>
    <TopAndSideMenu
        OnSideMenuSizeChanged=@OnMenuSizeChanged
        MenuIconUrl=@($"{Config.BaseAssetsPath}/images/icons/design/grid.png")
        LogoName="Kinergize"
        LogoImageUrl=@($"{Config.BaseAssetsPath}/images/icons/design/mask.png")
        TopMenuButtonGroups=@TopMenuButtonGroups
        OnButtonClick=@OnMenuButtonClick />

    <div class="main-content">
        @Body
    </div>

</main>

@code {
    [Inject] public AuthenticationStateProvider Auth { get; set; }
    [Inject] public NavigationManager Navigation { get; set; }

    HorizontalMenu.ButtonGroup[] TopMenuButtonGroups {
        get {
            var res = new List<HorizontalMenu.Button>();
            if (Auth.IsSignedIn())
                res.Add(new("dashboard", "Dashboard", IconUrl: $"{Config.BaseAssetsPath}/images/icons/design/grid.png"));

            res.Add(new("login", Auth.GetLabel(), IconUrl: $"{Config.BaseAssetsPath}/images/icons/basic/exit.png"));

            return new HorizontalMenu.ButtonGroup[] { new(res.ToArray()) };
        }    
    }

    private async Task OnMenuButtonClick(string id)
    {
        if (id == "login")
            await Auth.SignAction(Navigation);

        if (id == "dashboard")
            Navigation.NavigateTo(id);
    }
}
