@inherits BaseLayout

<main class="main" style=@_paddingLeftCssAttribute>
    <TopAndSideMenu
        OnSideMenuSizeChanged=@OnMenuSizeChanged
        MenuIconUrl=@($"{Config.BaseAssetsPath}/images/icons/design/grid.png")
        LogoName="Kinergize"
        LogoImageUrl=@($"{Config.BaseAssetsPath}/images/icons/design/mask.png")
        TopMenuButtonGroups=@TopMenuButtonGroups
        OnButtonClick=@OnMenuButtonClick />

    <div class="main-content">
        @Body
    </div>

</main>

@code {
    [Inject] public NavigationManager Navigation { get; set; }

    static RenderFragment Get()
    {
        return builder =>
        {
            builder.OpenComponent<LoginDisplay>(0);
            builder.CloseComponent();
        };
    }

    HorizontalMenu.ButtonGroup[] TopMenuButtonGroups =
    {
        new(new HorizontalMenu.Button[]
        {
            new("login", IconUrl: $"{Config.BaseAssetsPath}/images/icons/basic/exit.png", Component: Get()),
        })
    };

    private async Task OnMenuButtonClick(string id)
    {
        if (id == "login")
            return;

        Navigation.NavigateTo(id);
    }
}
