@inherits LayoutComponentBase

<SideMenu
    MenuIconUrl=@($"{_basePath}/images/icons/design/grid.png")
    LogoName="Kinergize"
    LogoImageUrl=@($"{_basePath}/images/icons/design/mask.png")
    ButtonGroups=@ButtonGroups />

<main>
    @Body
</main>

@code {
    private static string _basePath = "_content/MyApp.UI.Common";

    private SideMenu.ButtonGroup[] ButtonGroups =
    {
        new("General", new SideMenu.Button[]
        {
            new("Dashboard", $"{_basePath}/images/icons/nav/home.png"),
            new("Plans", $"{_basePath}/images/icons/basic/news.png"),
            new("Sessions", $"{_basePath}/images/icons/basic/time.png"),
            new("Exercises", $"{_basePath}/images/icons/gym/arm.png"),
        })
    };
}
