@inherits BaseLayout

<LoginDisplay />

<main class="main" style=@_paddingLeftCssAttribute>
    
    <TopAndSideMenu
        OnSideMenuSizeChanged=@OnMenuSizeChanged
        MenuIconUrl=@($"{Config.BaseAssetsPath}/images/icons/design/grid.png")
        LogoName="Kinergize"
        LogoImageUrl=@($"{Config.BaseAssetsPath}/images/icons/design/mask.png")
        SideMenuButtonGroups=@SideMenuButtonGroups 
        TopMenuButtonGroups=@TopMenuButtonGroups 
        BottomLeftMenuButtonGroups=@BottomLeftMenuButtonGroups />

    <div class="main-content">
        @Body
    </div>

</main>

@code {
    private SideMenu.ButtonGroup[] SideMenuButtonGroups =
    {
        new("General", new SideMenu.Button[]
        {
            new("dashboard", "Dashboard", $"{Config.BaseAssetsPath}/images/icons/nav/home.png"),
            new("plans", "Plans", $"{Config.BaseAssetsPath}/images/icons/basic/news.png"),
            new("sessions", "Sessions", $"{Config.BaseAssetsPath}/images/icons/basic/time.png"),
            new("exercises", "Exercises", $"{Config.BaseAssetsPath}/images/icons/gym/arm.png"),
        })
    };

    private HorizontalMenu.ButtonGroup[] TopMenuButtonGroups =
    {
        new(new HorizontalMenu.Button[]
        {
            new("profile", "Profile", $"{Config.BaseAssetsPath}/images/icons/edu/head-settings.png"),
        })
    };

    private SideMenu.ButtonGroup[] BottomLeftMenuButtonGroups =
    {
        new("Account", new SideMenu.Button[]
        {
            new("sign-out", "Sign Out", $"{Config.BaseAssetsPath}/images/icons/basic/exit.png"),
        })
    };
}
