@inherits LayoutComponentBase

<main class="main" style=@_paddingLeftCssAttribute>
    
    <TopAndSideMenu
        OnSideMenuSizeChanged=@OnMenuSizeChanged
        MenuIconUrl=@($"{_basePath}/images/icons/design/grid.png")
        LogoName="Kinergize"
        LogoImageUrl=@($"{_basePath}/images/icons/design/mask.png")
        SideMenuButtonGroups=@SideMenuButtonGroups 
        TopMenuButtonGroups=@TopMenuButtonGroups 
        BottomLeftMenuButtonGroups=@BottomLeftMenuButtonGroups />

    <div class="main-content">
        @Body
    </div>

</main>

@code {
    private int _menuSize;
    private string _paddingLeftCssAttribute => _menuSize == 0 ? "" : $"padding-left: {_menuSize.ToString()}px;";

    private void OnMenuSizeChanged(int size)
    {
        _menuSize = size;
        InvokeAsync(StateHasChanged);
    }

    private static string _basePath = "_content/MyApp.UI.Common";
    private SideMenu.ButtonGroup[] SideMenuButtonGroups =
    {
        new("General", new SideMenu.Button[]
        {
            new("dashboard", "Dashboard", $"{_basePath}/images/icons/nav/home.png"),
            new("plans", "Plans", $"{_basePath}/images/icons/basic/news.png"),
            new("sessions", "Sessions", $"{_basePath}/images/icons/basic/time.png"),
            new("exercises", "Exercises", $"{_basePath}/images/icons/gym/arm.png"),
        })
    };

    private HorizontalMenu.ButtonGroup[] TopMenuButtonGroups =
    {
        new(new HorizontalMenu.Button[]
        {
            new("profile", "Profile", $"{_basePath}/images/icons/edu/head-settings.png"),
        })
    };

    private SideMenu.ButtonGroup[] BottomLeftMenuButtonGroups =
    {
        new("Account", new SideMenu.Button[]
        {
            new("sign-out", "Sign Out", $"{_basePath}/images/icons/basic/exit.png"),
        })
    };
}
