@inherits LayoutComponentBase

<main class="main" style=@_paddingLeftCssAttribute>
    <SideMenu OnSizeChanged=@OnMenuSizeChanged
              MenuIconUrl=@($"{_basePath}/images/icons/design/grid.png")
              LogoName="Kinergize"
              LogoImageUrl=@($"{_basePath}/images/icons/design/mask.png")
              ButtonGroups=@SideMenuButtonGroups />
    <HorizontalMenu ButtonGroups=@TopMenuButtonGroups />
    <div class="main-content">
        @Body
    </div>
</main>


@code {
    private int _menuSize;
    private string _paddingLeftCssAttribute => _menuSize == 0 ? "" : $"padding-left: {_menuSize.ToString()}px;";

    private void OnMenuSizeChanged(int size)
    {
        _menuSize = size;
        InvokeAsync(StateHasChanged);
    }

    private static string _basePath = "_content/MyApp.UI.Common";
    private SideMenu.ButtonGroup[] SideMenuButtonGroups =
    {
        new("General", new SideMenu.Button[]
        {
            new("Dashboard", $"{_basePath}/images/icons/nav/home.png"),
            new("Plans", $"{_basePath}/images/icons/basic/news.png"),
            new("Sessions", $"{_basePath}/images/icons/basic/time.png"),
            new("Exercises", $"{_basePath}/images/icons/gym/arm.png"),
        })
    };

    private HorizontalMenu.ButtonGroup[] TopMenuButtonGroups =
    {
        new(new HorizontalMenu.Button[]
        {
            new("explore", "Explore", $"{_basePath}/images/icons/nav/home.png"),
            new("settings", "Settings" ,$"{_basePath}/images/icons/basic/news.png"),
            new("profile", "Profile", $"{_basePath}/images/icons/basic/time.png"),
        })
    };
}
